<html lang="ja">
    <head>
        {% with title='新規辞書作成ページ' %}
            {% include 'head_css.html' %}
        {% endwith %}
    </head>
    {% include 'main_header.html' %}
    <body>
        <form action="/create-dictionary" method="post">
            <div class="cover-container">
                <div class="book-cover" id="cover">
                    <input type="hidden" id="cover-color" name="cover-color" value="{{ cover_colors[0] }}">
                    <textarea
                        class="cover-title"
                        id="cover-title"
                        name="cover-title"
                        placeholder="辞書名"
                        autocomplete="off"
                        autofocus required rows="2"
                        maxlength="18"></textarea>
                </div>
                <div class="notice-section">
                    <h2>【新規作成】</h2>
                    <ul>
                        <li>このページでは、辞書の表紙を作成します。</li>
                        <li>辞書名は18文字以内で入力してください。</li>
                        <li>表紙の色は下部から選択してください。</li>
                        <li>辞書名、色ともに後から変更できます。</li>
                        <li>PRIVATEにすると他のユーザーからは見えません。</li>
                        <li>次へボタン押下で単語登録へ進みます。</li>
                    </ul>
                </div>
            </div>
            <div class="color-picker">
                {% for color in cover_colors %}
                    <div class="color-dot" data-color="{{ color }}"></div>
                {% endfor %}
            </div>
            <div class="privacy-toggle" onclick="togglePrivacy()">
                <i id="lockIcon" class="fa-solid fa-lock-open"></i>
                <span id="privacyText">PUBLIC</span>
            </div>
            <input type="hidden" id="isPrivate" name="is_private" value="false">
            <button type="submit" >次へ ▶</button>
        </form>
        <script src="{{ url_for('static', filename='js/create_dictionary.js') }}"></script>
    </body>
</html>