<html>
    <head>
        {% with title='ログイン' %}
            {% include 'head_css.html' %}
        {% endwith %}
    </head>
    <body>
        <div class="login-container">
            <img src="{{ url_for('static', filename='image/jisho2logo.png') }}" alt="タイトルロゴ" class="login-image">
            <div class="login-form" style="background-color: #ffffff;">
            <form method="POST" action="./login">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username(size=32, class="textbox-1", placeholder="ユーザー名", autocomplete="off") }}<br>
                </p>
                <p>
                    {{ form.password(size=32, class="textbox-1", placeholder="パスワード", autocomplete="off") }}<br>
                </p>
                <p>
                    <!-- <a class="right-link" href="./forgot-password">パスワードをお忘れですか?</a> -->
                    <br>
                </p>
                <p>
                    {{ form.submit(class="login-button") }}
                </p>
                </form>
            </div>
            <div class="divider">アカウントをお持ちでない方はこちら</div>
            <a href="./register">新規登録</a>
            <div class="divider">または</div>
            <a href="./guest-login">ゲストモード</a>
        </div>
    </body>
</html>