<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<header class="quiz-header">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <nav class="nav">
        <ul class="menu-list menu-alt">
            <li class="menu-item"><a href="/create-dictionary">新規作成</a></li>
            <li class="menu-item"><a href="/dictionary-shelf">一覧</a></li>
            <li class="menu-item"><a href="/quiz-menu">クイズ</a></li>
            <li class="menu-item"><a href="/logout">ログアウト</a></li>
        </ul>
    </nav>
</header>